.header {
    background-color: #707070;
    justify-content: center;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.container-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
        padding: 69px 16px 39px 16px;
    p {
        letter-spacing: 0;
        font-size: 20px;
        margin: 0;
    }
    h1{
        letter-spacing: 0;
        font-size: 40px;
        margin: 0;
        font-weight: bold;
    }

    .subTitle {
        letter-spacing: 0;
        font-size: 14px;
        margin: 0;
        margin-top: 24px;
    }

    .actions {
        margin-top: 50px;
    }

    .button {
        margin-left: 40px;
    } 
  }
