html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif !important;
  color: black;
  line-height: 1.5;
  background-color: #FFFFFF !important; }

div {
  font-family: Arial, Helvetica, sans-serif; }

.product-title {
  margin-top: 48px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 18px;
  color: #888888; }

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.products-cards {
  margin-bottom: 175px; }

div .row {
  margin: 0;
  justify-content: center; }

div .card {
  border: 0;
  max-width: 201px;
  max-height: 350px;
  margin: 0 20px 40px 20px; }

.card-body {
  padding-left: 0px; }

.card-title {
  font-size: 14px;
  color: #888888; }

.card-text {
  font-size: 12px;
  color: #888888; }

.oldPrice {
  margin-bottom: 0; }

.price {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0; }

.container-header {
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 69px 16px 39px 16px; }
  .container-header p {
    letter-spacing: 0;
    font-size: 20px;
    margin: 0; }
  .container-header h1 {
    letter-spacing: 0;
    font-size: 40px;
    margin: 0;
    font-weight: bold; }
  .container-header .subTitle {
    letter-spacing: 0;
    font-size: 14px;
    margin: 0;
    margin-top: 24px; }
  .container-header .actions {
    margin-top: 50px; }

.btn {
  margin: 8px !important;
  font-size: 14px !important;
  background-color: #FFFFFF !important;
  height: 40px;
  color: #888888 !important;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #707070;
  border-radius: 4px; }

.btn-buy {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  margin: 0 !important; }

.card-img-top {
  width: 200px;
  height: 150px;
  border: 1px solid #707070; }

.footer {
  background-color: #707070;
  color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 200px; }
  .footer .text-container {
    flex-direction: column;
    align-items: center; }
  .footer p {
    letter-spacing: 0;
    font-size: 12px;
    margin: 0; }

.header {
  background-color: #707070;
  justify-content: center;
  flex-direction: column;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.newsletter {
  background-color: #fff;
  color: #888888;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .newsletter .title {
    color: #888888;
    font-size: 16px;
    font-weight: bold; }
  .newsletter .subTitle {
    color: #888888;
    font-size: 14px;
    margin-top: 25px; }
  .newsletter input {
    width: 340px;
    border-radius: 0;
    height: 30px;
    border: 1px solid #707070;
    background-color: #FFFFFF !important;
    font-size: 14px; }
  .newsletter .btn {
    padding-left: 85px;
    padding-right: 85px; }
  .newsletter .form-group {
    margin-top: 20px; }
  .newsletter .row {
    margin: 0;
    justify-content: center; }

.invalid-feedback {
  margin-bottom: 20px;
  color: red;
  background-color: #ffecec;
  padding: 10px 20px;
  font-size: 10px; }

.error-page h1 {
  color: red; }

.error-page a {
  text-decoration: underline; }
