@import "../../scss/variables";
@import "../../scss/animations";

.global-loading {
  &--fullpage {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    background: $white;
    display: flex;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    &--show {
      z-index: 9999;
      visibility: visible;
      opacity: 1;
    }
  }
}

.loading {
  display: inline-block;
  margin: 10px 0;
  position: relative;

  .loading--xSmall {
    width: 12px;
    height: 12px;
  }
  .loading--small {
    width: 16px;
    height: 16px;
  }
  .loading--medium {
    width: 20px;
    height: 20px;
  }
  .loading--large {
    height: 42px;
    width: 42px;
    .loading-label {
        left: 34px;
        top: 6px;
    }
  }

  &__circle {
    &.circle {
      margin: auto;
      box-sizing: border-box;
      border-radius: 50%;
      border: 1.5px solid lighten(desaturate(#0078d7, 32.84), 44.71);
      border-top-color: $primary-color;
      animation: spin 1.3s infinite cubic-bezier(0.53, 0.21, 0.29, 0.67);
    }
  }

  &__label {
    &.label {
      color: $primary-color;
      margin-top: 10px;
      text-align: center;
    }
    &.x-hidden-focus,
    &.x-hidden-focus + span:before,
    &.x-hidden-focus:before {
      outline-color: transparent!important;
    }
  }

  .screenReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.fill-loading {
  height: calc(100vh - 250px);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 355px;
  margin: 20px auto;
}

.failed-loading {
  height: calc(100vh - 250px);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 355px;
  margin: 20px auto;
  .icon {
    font-size: 125px;
    color: $gray-500;
    display: block;
    line-height: 1;
  }
  &__title {
    display: block;
    color: $gray-500;
    @include font-regular();
    font-size: 18pt;
  }
  &__subtitle {
    padding: 12px 0;
  }
}
