.card-title {
    font-weight: 700 !important;
    color: #888888;
    font-size: 18px !important;
}

.card-description {
    font-size: 12px !important;
    color: #888888;
    margin-top: 10px !important;
}

.card-oldPrice {
    font-size: 12px !important;
    color: #888888;
    margin-top: 6px !important;
}

.card-price {
    font-size: 16px !important;
    color: #888888;
    margin-top: 6px !important;
    font-weight: 700 !important;
}

.card-installments {
    font-size: 12px !important;
    color: #888888;
    margin-top: 2px !important;
}

.buy-button {
    margin-top:10px !important;
    padding: 2px 15px !important;
    border: 1px solid #707070 !important;
    color: #888888 !important;
}

.card-footer {
    text-align: center;
}

.buy-more {
    margin-top:10px !important;
    padding: 7px 15px !important;
    border: 1px solid #707070 !important;
    color: #888888 !important;
    width: 260px;
}

